.line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-hr {
    width: 40%;
    height: 1px;
    background: rgb(202, 200, 200);
}

.login-hr-text {
    color: rgb(202, 200, 200);
    text-transform: uppercase;
}

.social-inner {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.social-item {
    padding: 14px 10px;
    border: 1px solid rgb(202, 200, 200);
    width: 49%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-item img {
    width: 22px;
    height: 22px;
    margin-right: 10px;
}